SharesBrokering/src/conf/xml-resources/web-service-references/CurrencyConversionWSService/wsdl/localhost_8080/CurrencyConvertor/CurrencyConversionWSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://DOCwebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://DOCwebServices/" name="CurrencyConversionWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://DOCwebServices/" schemaLocation="http://localhost:8080/CurrencyConvertor/CurrencyConversionWSService?xsd=1"/>
</xsd:schema>
</types>
<message name="GetCurrencyCodes">
<part name="parameters" element="tns:GetCurrencyCodes"/>
</message>
<message name="GetCurrencyCodesResponse">
<part name="parameters" element="tns:GetCurrencyCodesResponse"/>
</message>
<message name="Temp">
<part name="parameters" element="tns:Temp"/>
</message>
<message name="TempResponse">
<part name="parameters" element="tns:TempResponse"/>
</message>
<message name="GetConversionRates">
<part name="parameters" element="tns:GetConversionRates"/>
</message>
<message name="GetConversionRatesResponse">
<part name="parameters" element="tns:GetConversionRatesResponse"/>
</message>
<portType name="CurrencyConversionWS">
<operation name="GetCurrencyCodes">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/GetCurrencyCodesRequest" message="tns:GetCurrencyCodes"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/GetCurrencyCodesResponse" message="tns:GetCurrencyCodesResponse"/>
</operation>
<operation name="Temp">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/TempRequest" message="tns:Temp"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/TempResponse" message="tns:TempResponse"/>
</operation>
<operation name="GetConversionRates">
<input wsam:Action="http://DOCwebServices/CurrencyConversionWS/GetConversionRatesRequest" message="tns:GetConversionRates"/>
<output wsam:Action="http://DOCwebServices/CurrencyConversionWS/GetConversionRatesResponse" message="tns:GetConversionRatesResponse"/>
</operation>
</portType>
<binding name="CurrencyConversionWSPortBinding" type="tns:CurrencyConversionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="GetCurrencyCodes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Temp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetConversionRates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CurrencyConversionWSService">
<port name="CurrencyConversionWSPort" binding="tns:CurrencyConversionWSPortBinding">
<soap:address location="http://localhost:8080/CurrencyConvertor/CurrencyConversionWSService"/>
</port>
</service>
</definitions>