SharesBrokeringClient/SharesBrokeringClient/Connected Services/SharesBrokeringWSReference/SharesBrokeringWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://xml.netbeans.org/schema/UserShares" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ShareInfo">
    <xs:sequence>
      <xs:element name="CompanySymbol" type="xs:string" />
      <xs:element name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>