SharesBrokeringClient/SharesBrokeringClient/Connected Services/SharesBrokeringWSReference/SharesBrokeringWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://xml.netbeans.org/schema/Users" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="Username" type="xs:string" />
      <xs:element name="Password" type="xs:string" />
      <xs:element name="Currency" type="xs:string" />
      <xs:element name="Wallet" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>